<section id="download" class="content-section text-center">
    <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
        	<%=  image_tag("shanty.jpg", :size => "360x280", :crop => :fill) %>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Highlights</h4>
            <p class="text-black-50 mb-0">Enhance your look and add dimension to your hair with highlights. A personalized consultation, color test and mixing, then customized foil placement will bring out the best in your hair.!</p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="item_img">
        	<%= image_tag("image1.jpg", :size => "360x280", :crop => :fill) %>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Trend Color Techniques</h4>
                <p class="mb-0 text-white-50">Add beauty and interest to your hair with one of these fashion-forward color techniques. Ask your stylist what’s right for you.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <%= image_tag("image2.jpg", :size => "360x280", :crop => :fill) %>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">All-over Color</h4>
                <p class="mb-0 text-white-50">No matter if you’re hoping for a new all-over color that’s subtle or amped up, our color experts are here to help. You’ll have a personalized consultation, color test and mixing, and application to create the look that’s right for you.!</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</section>