<footer>
    <div class="footer-copyright">
		<p class="col-lg-10 col-sm-10 footer-text m-0 text-success">Copyright &copy;  <%= Time.now.year %> All rights reserved MNic's Virgin Hairs | <i class="fa fa-heart-o" aria-hidden="true"></i> Powered by <a href="#" target="_blank">Quantic::Drone TM</a>
		</p>
	</div>
</footer>